.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
.metadata
build/
android/.gradle/
android/local.properties
android/key.properties
android/*.jks
android/*.keystore
ios/Pods/
ios/.symlinks/
*.iml
# Widget Preview related
.widget_preview/

dist/
